# Test binary built with `go test -c`
*.test

# LiteIDE, VSCode, and Sublime
*.idea
*.vscode
*.sublime

# Output of go coverage tool when used with LiteIDE
*.out

/bin

*.key
!test-key.key
!test-key-password.key
*.wasm

test_data
tmp

tests/utils/config*
tests/utils/genesis*

# node_modules used by polkadot.js/api tests
tests/polkadotjs_test/node_modules
