version:  '3.7'

services: 
    prometheus:
        image: prom/prometheus
        volumes:
        - ./prometheus.yml:/etc/prometheus/prometheus.yml
        command:
        - '--config.file=/etc/prometheus/prometheus.yml'
        - '--storage.tsdb.path=/prometheus'
        - '--web.console.libraries=/usr/share/prometheus/console_libraries'
        - '--web.console.templates=/usr/share/prometheus/consoles'
        ports:
        - 9090:9090
        restart: always