---
---

@import "minima/skins/dark.scss";
@import "minima/initialize.scss";

a {
    color: #e6087b !important;
}

body {
    font-family: "ubuntu";
}

header, footer {
    border: 0 !important;
    padding: 2% 0 !important;
    margin: 0 !important;
}

footer {
    padding: 2% 0 !important;
}

li {
    padding: 4px;
}
