[global]
basepath = "~/.gossamer/gssmr"
log = "info"
metrics-port = 9876

[log]
core = ""
network = ""
rpc = ""
state = ""
runtime = ""
babe = ""
grandpa = ""
sync = ""

[init]
genesis = "./chain/gssmr/genesis.json"

[account]
key = ""
unlock = ""

[core]
roles = 4
babe-authority = true
grandpa-authority = true

[network]
port = 7001
nobootstrap = false
nomdns = false

[rpc]
enabled = false
port = 8545
host = "localhost"
modules = ["system", "author", "chain", "state", "rpc", "grandpa"]
ws-port = 8546
