name: build
on:
  push:
    branches:
      - development

jobs:
  builds:
    strategy:
      matrix:
        go-version: [1.15.x]
        platform: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v2

      - name: Cache go modules
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
          restore-keys: ${{ runner.os }}-go-
      
      - name: Run build
        run: make build
  
  publish-code-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v2

      - name: Cache go modules
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Generate coverage report
        run: |
          go test ./... -short -coverprofile=coverage.out -covermode=atomic -timeout=20m
      - uses: codecov/codecov-action@v1
        with:
          token: "89982880-a53b-4a3a-9bdd-3dc9c78bd190"
          files: ./coverage.out
          flags: unit-tests
          name: coverage
          verbose: true

  docker-build-n-push:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: chainsafe/gossamer:latest
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}