name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - development

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main 
        uses: actions/checkout@v2

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CUSTOM_DOMAIN: gossamer.chainsafe.io
          CONFIG_FILE: docs/mkdocs.yml
          EXTRA_PACKAGES: build-base